<nav class="navbar navbar-expand-lg bg-2 navbar-light header">
  <div class="container">
    <a class="navbar-brand" href="/jobs">Second_OPG</a>
    <%# if user_signed_in? %>
      <div class="my-2 my-lg-0">
        <%= link_to 'ホーム', "root_path", class: "no-text-decoration" %>
        <%= link_to '一覧ページ', "#", class: "no-text-decoration" %>
        <%= link_to 'ログアウト', "#", class: "no-text-decoration", method: :delete %>
      </div>
    <%# end %>
  </div>
</nav>
